<!doctype html>
<html lang="en">
  <%- include('../includes/head', { title: 'Dynamic', description: 'This page is created from dynamic JavaScript data.'}) %>

  <body>
    <h1>Dynamic</h1>

    <p>The current epoch timestamp is: <pre><%= timestamp %></pre></p>
  </body>
</html>